.page {
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 2rem 1rem;
  box-sizing: inherit;
}
.page:hover {
  background-color: var(--primary-glow);
  box-shadow: 0px 0px 0px 0px var(--primaryColor2);
  border: 1px solid var(--primary-glow);
  color: var(--mainBg);
  color: var(--mainBg);
  text-shadow: 0px 0px 0px var(--primary-glow);
}
.container {
  /* background-color: black; */
  display: contents;
  text-align: center;
  /* vertical-align: middle; */
  padding: 3px;
  width: 40px;
  min-width: 100%;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.divider {
  width: 500px;
  min-height: 1px;
  background-color: #ffffff39;
  position: center;
}
.text {
  display: block;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: -2.5px 2.5px 0.5px var(--primary);
  font-size: 3.8rem;
  max-width: 100px;
  color: var(--mainBlack);
  font-weight: 500;
  margin-bottom: 2em;
}
.linkedin {
  cursor: pointer;
  opacity: 1;
  position: relative;
  transition: all ease-in-out 0.2s;
}
.github {
  cursor: pointer;
  opacity: 1;
  position: relative;
  transition: all ease-in-out 1s;
}
.perfil {
  border-radius: 10px;
  width: 250px;
  box-shadow: -10px 10px 0px gray;
  justify-content: space-around;
  font-size: 1.6rem;
  align-items: center;
  flex-direction: column;
}
.titulo {
  border-bottom: 3px solid #20b2aa;
  font-family: "montserrat";
  font-size: 2rem;
  margin-top: 40px;
  display: flex;
}
.titulo:hover {
  opacity: 0.7;
  content: absolute;
  background-size: 800;
}
.boton {
  background-color: #fff;
  cursor: pointer;

  background-position: 220px;
  border: 3px solid black;
  border-radius: 1px;
  padding: 4px;
  box-shadow: 0 10px 25px gray;
  width: 100px;
  height: 50px;
  position: unset;
  left: 0;
}

.boton:hover {
  opacity: 0.7;
}

.botonA {
  margin: 2em 0 0 0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  color: var(--mainBg);
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 3px solid black;
}
.botonA:hover {
  color: blue;
  text-shadow: -2.5px 2.5px 1px var(--variant3);
}
.button {
  background: #888;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  border-radius: 12px;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red,
    blue,
    deeppink,
    blue blue,
    red,
    deeppink,
    blue white
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.description {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 100px;
  font-size: 19px;
  text-align: justify;
  width: 31ch;
}
@media (max-width: 300px) {
  .container {
    padding: 0rem 2.5rem;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .textContainer {
    padding: 2rem 0rem;
    grid-template-columns: repeat(1, 80%);
    width: 150px;
    height: 1250px;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .description {
    padding-block: 20rem;
    width: 210px;
    height: 550px;
  }
  @media (max-width: 700px) {
    .boton {
      filter: invert(1) drop-shadow(0 0.3rem black);

      transform: rotate(560deg);
      transform: rotate(0deg);
    }
  }
}
.imagenContainer {
  flex: 1 1;
  display: flex;
}

@media (max-width: 750px) {
  .imagenContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 750px) {
  .page {
    padding-bottom: 70px;
  }
}

.textContainer {
  max-width: 600px;
  /* min-width: 600px; */
  margin-left: 50px;
  display: initial;
  text-align: center;
  /* background-position; */
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;
}
.imagen {
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;
  border-radius: 10px;
  float: right;
  rotate: 30;
  width: 100%;
  transition: transform 200ms;
  box-shadow: -10px 10px 0px #0000001a;
}

.logo,
.thirteen img {
  filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
}

@keyframes rotate {
  from {
    transform: rotate(560deg);
  }
  to {
    transform: rotate(0deg);
  }
}
