.contenedor {
  line-height: 1.5;
  padding: 1rem;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
  overflow-clip-margin: content-box;
}
